@tailwind base;
@tailwind components;
@tailwind utilities;
@keyframes slide {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}
.Heading::before {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #000;
  z-index: -1;
  transform: translateX(-100%);
  animation: slide 0.6s cubic-bezier(0.85, 0, 0.15, 1) 0.3s forwards;
}
.Comment::before {
  content: "";
  position: absolute;
  display: block;
  width: 0;
  height: 0;
  right: 1px;
  bottom: 0;
  border-left: 20px solid #fff;
  border-top: 3px solid transparent;
  border-bottom: 20px solid transparent;
  transform: rotate(50deg);
  z-index: 3;
}
.Comment::after {
  content: "";
  position: absolute;
  display: block;
  width: 0;
  height: 0;
  right: -3px;
  bottom: -3px;
  border-left: 20px solid #333;
  border-top: 3px solid transparent;
  border-bottom: 20px solid transparent;
  transform: rotate(50deg);
  z-index: 2;
}
@media screen and (min-width: 640px) {
  .mapboxgl-ctrl-geocoder {
    min-width: 400px !important;
  }
  .mapboxgl-ctrl-geocoder--input {
    font-size: 15px;
    height: 46px !important;
  }
  .mapboxgl-ctrl-geocoder .mapboxgl-ctrl-geocoder--icon {
    top: 6px !important;
    fill: #fff;
  }
  .mapboxgl-ctrl-geocoder--input {
    padding: 6px 35px 6px 6px !important;
  }
  .mapboxgl-ctrl-geocoder--icon-search {
    left: auto !important;
    right: 7px !important;
    box-sizing: content-box !important;
    width: 28px !important;
    height: 28px !important;
    padding: 3px;
    background: #55c08f;
    border-radius: 5px;
  }
  .mapboxgl-ctrl-geocoder .mapboxgl-ctrl-geocoder--pin-right > * {
    top: 6px !important;
    right: 7px !important;
  }
  .mapboxgl-ctrl-geocoder--icon-close {
    box-sizing: content-box !important;
    width: 22px !important;
    height: 22px !important;
    padding: 6px;
    border-radius: 5px;
    background: #55c08f;
    margin-top: 0 !important;
  }
  .mapboxgl-ctrl-geocoder--icon-close:hover {
    fill: #fff !important;
  }
  .mapboxgl-ctrl-geocoder--suggestion {
    padding: 15px;
  }
  .mapboxgl-ctrl-geocoder--suggestion-title {
    font-size: 15px;
  }
  .mapboxgl-ctrl-geocoder--suggestion-address {
    font-size: 14px;
  }
}
