@tailwind base;
@tailwind components;
@tailwind utilities;

@media screen and (min-width: 640px) {
  .mapboxgl-ctrl-geocoder {
    min-width: 360px !important;
  }
  .mapboxgl-ctrl-geocoder--input {
    font-size: 15px;
    height: 46px !important;
  }
  .mapboxgl-ctrl-geocoder--icon {
    top: 13px !important;
  }
  .mapboxgl-ctrl-geocoder .mapboxgl-ctrl-geocoder--pin-right > * {
    top: 13px !important;
  }
  .mapboxgl-ctrl-geocoder--suggestion {
    padding: 15px;
  }
  .mapboxgl-ctrl-geocoder--suggestion-title {
    font-size: 15px;
  }
  .mapboxgl-ctrl-geocoder--suggestion-address {
    font-size: 14px;
  }
}
