@tailwind base;
@tailwind components;
@tailwind utilities;

@media screen and (min-width: 640px) {
  .mapboxgl-ctrl-geocoder {
    min-width: 360px !important;
  }
  .mapboxgl-ctrl-geocoder--input {
    font-size: 15px;
    height: 46px !important;
  }
  .mapboxgl-ctrl-geocoder--icon {
    top: 13px !important;
  }
  .mapboxgl-ctrl-geocoder .mapboxgl-ctrl-geocoder--pin-right > * {
    top: 13px !important;
  }
  .mapboxgl-ctrl-geocoder--suggestion {
    padding: 15px;
  }
  .mapboxgl-ctrl-geocoder--suggestion-title {
    font-size: 15px;
  }
  .mapboxgl-ctrl-geocoder--suggestion-address {
    font-size: 14px;
  }
}
.mapboxgl-popup-tip {
  border: 3px solid transparent;
}
.mapboxgl-popup-anchor-bottom .mapboxgl-popup-tip {
  border-top-color: #c9171e;
}
.mapboxgl-popup-content {
  width: 240px;
  border-bottom: 2px solid #c9171e;
  padding: 25px 15px;
}
.mapboxgl-popup-close-button {
  font-size: 15px;
  font-weight: bold;
  color: #aeaeae;
  width: 25px;
  height: 25px;
}
